<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<p>
    Splurty was built by Tiffany Curran. A new developer on the scene, who's continuing mission is to explore strange new coding worlds, to seek out new skills and new techniques, to boldly go in new career directions she's never gone before.
  </p>
  <br />
 
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'marco.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Tiffany Curran</h2>
      <br />
      <p>
        Tiffany Curran is a Manager of Strategic IT Infrastructure Programs at (<a target="_blank" href="http://https://www.thewaltdisneycompany.com/"> The Walt Disney Company</a>). As a former Operational Execelence consultant, she

         Tiffany Curran is a Manager of Strategic IT Infrastructure Programs at (<a target="_blank" href="http://https://www.thewaltdisneycompany.com/"> The Walt Disney Company</a>). As a former Operational Excellence consultant, she has helped companies like Dow Chemical, AT&T, and Johnson & Johnson to improve their IT delivery capabilities and operating models. Prior to joining the rank and file of corporate America, Tiffany once studied Acting professionally at The DePaul Theatre School in Chicago, IL, her hometown.
        </p>
    </div>
  </div>
  
  
 <br class="clear" />
 <br />
 <br />
 <br />
 <br />